.navbar-nav li{
	font-weight: bold;
	font-family: Bitter,Georgia,Times,"Times New Roman",serif;
	font-size:1.2em;
}
.line{
	margin-top: -20px;
}


#footer{
	padding:10px;
	border-top: 1px solid black;
	color:#eeeeee;
	background-color:#211f22;
	text-align: center;
}